body{
    background-color: #636b6f;
}
.header{
    top:0;
    left:0;
    display: inline-block;;
    width:100%;
    height: 50px;
    position: fixed;
    background-color:#23272b;
    overflow: hidden;
}
.header p {

    display: inline-block;
    float:right;
    color:white;
}
.header img{
    width:100%;
    height: 100%;
}
.header p img{
    width:80px;
    height:40px;
}
.leftside{
    position: fixed;
    display:block;
    left:0;
    top:50px;
    float:left;
    width:20%;
    height: 93%;
    border-right:1px solid black;
    background-color:#6cb2eb;
    font-size:20px;
}
.leftside li {
    list-style-type: none;
}
.rightside{
    position: absolute;
    display:block;
    left:20%;
    top:50px;
    float:right;
    width:80%;
    height: 93%;


    font-size:20px;
}
.addedbook{
    display: block;
    border: 1px solid black;
    width:100%;
    height: 30%;
}
.miniblock{
    display: inline-block;
    width:30%;
    float:left;
}
.addedauthor{
    display: block;
    border: 1px solid black;
    width:100%;
    height: 30%;
}
.addedgenre{
    display: block;
    border: 1px solid black;
    width:100%;
    height: 30%;
}
#added{
    width:100%;
    height: 100%;
    display: none;
}
.deletemenu{
    display: none;
}


.addedmenu{
    display: none;
}

